(
    characters: {
        "player_male": (0, 13),
        "player_female": (4, 13),
        "flora_shockroach_queen": (8, 13),
        "fauna_shockroach": (12, 13),
        "fauna_mutant": (0, 14),
        "fauna_cat": (4, 14),
        "fauna_mouse": (8, 14),
        "fauna_dog": (12, 14),
    },
    connected4: {
        "map_street_small": (0, 15),
        "map_street_medium": (4, 15),
        "map_street_large": (8, 15),
        "map_hybrid_small": (0, 19),
        "map_hybrid_medium": (4, 19),
        "map_hybrid_large": (8, 19),
        "wall_slat": (0, 23),
        "wall_concrete": (4, 23),
        "wall_brick": (8, 23),
        "wall_cubicle": (12, 23),
        "fixture_counter": (8, 33),
        "fixture_bookshelf": (12, 33),
        "road_line_single": (0, 39),
        "road_line_double": (4, 39),
        "road_line_dashed": (8, 39),
        "road_cracked": (12, 39),
        "fixture_guard_rail": (0, 43),
    },
    simple: {
        "map_terrain_deciduous": (12, 15),
        "map_terrain_evergreen": (13, 15),
        "map_terrain_meadow": (14, 15),
        "map_terrain_suburb": (15, 15),
        "vehicle_convertible": (0, 32),
        "vehicle_sedan": (1, 32),
        "vehicle_truck_pickup": (2, 32),
        "vehicle_van": (3, 32),
        "vehicle_bus": (4, 32),
        "vehicle_hatchback": (5, 32),
        "fixture_table_2_chairs": (0, 33),
        "fixture_lamp_east": (1, 33),
        "fixture_lamp_west": (4, 33),
        "fixture_armchair": (0, 34),
        "fixture_armchair_east": (0, 34),
        "fixture_shelf_east": (5, 34),
        "fixture_refridgerator": (1, 35),
        "fixture_counter_stove": (2, 35),
        "fixture_counter_cabinet": (3, 35),
        "fixture_counter_east": (5, 35),
        "fixture_counter_sink": (6, 35),
        "fixture_counter_dishwasher": (6, 35),
        "floor_tile_random_1": (0, 36),
        "floor_tile_random_2": (1, 36),
        "floor_tile_random_3": (2, 36),
        "floor_tile_squares": (3, 36),
        "floor_concrete_squares": (4, 36),
        "floor_concrete_pitted": (5, 36),
        "floor_concrete_rotted": (6, 36),
        "floor_cracked": (7, 36),
        "floor_carpet": (5, 34),
        "ground_boulder": (0, 37),
        "ground_rock_pile": (1, 37),
        "ground_grass_short": (2, 37),
        "ground_grass_tall": (3, 37),
        "ground_herb": (4, 37),
        "ground_sapling": (5, 37),
        "ground_herb2": (6, 37),
        "ground_mushroom_cluster": (0, 38),
        "ground_mushroom_large": (1, 38),
        "ground_rock_round": (2, 38),
        "ground_rock_jagged": (3, 38),

    },
    variant: {
        "map_terrain_city": (12, 16, 3),
        "map_terrain_old_town": (12, 17, 2),
    },

)
