(
    base: '\u{256c}',
    corner_tl: Some('\u{2554}'),
    corner_tr: Some('\u{2557}'),
    corner_bl: Some('\u{255a}'),
    corner_br: Some('\u{255d}'),
    horizontal_line: Some('\u{2550}'),
    vertical_line: Some('\u{2551}'),
    tee_l: Some('\u{2563}'),
    tee_r: Some('\u{2560}'),
    tee_u: Some('\u{2569}'),
    tee_d: Some('\u{2566}'),
)
