(
    base: '\u{a1}',
    horizontal: Some('\u{97}'),
    vertical: Some('\u{98}'),
    corner_tl: Some('\u{99}'),
    corner_tr: Some('\u{9a}'),
    corner_bl: Some('\u{9b}'),
    corner_br: Some('\u{9c}'),
    tee_r: Some('\u{9d}'),
    tee_l: Some('\u{9e}'),
    tee_d: Some('\u{9f}'),
    tee_u: Some('\u{a0}'),
    center: Some('\u{a1}'),
)
