(
    base: '\u{be}',
    horizontal: Some('\u{a2}'),
    vertical: Some('\u{a3}'),
    corner_tl: Some('\u{a6}'),
    corner_tr: Some('\u{a9}'),
    corner_bl: Some('\u{ac}'),
    corner_br: Some('\u{af}'),
    tee_r: Some('\u{b5}'),
    tee_l: Some('\u{b2}'),
    tee_d: Some('\u{b8}'),
    tee_u: Some('\u{bb}'),
    center: Some('\u{be}'),
)
