(
    base: '\u{f0}',
    horizontal: Some('\u{f0}'),
    vertical: Some('\u{f1}'),
    corner_tl: Some('\u{f2}'),
    corner_tr: Some('\u{f3}'),
    corner_bl: Some('\u{f4}'),
    corner_br: Some('\u{f5}'),
    tee_l: Some('\u{f6}'),
    tee_r: Some('\u{f7}'),
    tee_u: Some('\u{f8}'),
    tee_d: Some('\u{f9}'),
    center: Some('\u{fa}'),
    cap_u: Some('\u{fb}'),
    cap_d: Some('\u{fc}'),
    cap_r: Some('\u{fd}'),
    cap_l: Some('\u{fe}'),
)
