(
    base: '\u{0120}',
    horizontal: Some('\u{0120}'),
    vertical: Some('\u{0121}'),
    corner_tl: Some('\u{0122}'),
    corner_tr: Some('\u{0123}'),
    corner_bl: Some('\u{0124}'),
    corner_br: Some('\u{0125}'),
    tee_l: Some('\u{0126}'),
    tee_r: Some('\u{0127}'),
    tee_u: Some('\u{0128}'),
    tee_d: Some('\u{0129}'),
    center: Some('\u{012a}'),
    cap_d: Some('\u{012b}'),
    cap_u: Some('\u{012c}'),
    cap_r: Some('\u{012d}'),
    cap_l: Some('\u{012e}'),
)
