(
    min_width:16,
    max_width:22,
    min_height:16,
    max_height:22,
    perimeter:1,
    perimeter_tile: Some((
        icon: "wall_brick",
        fg: (64,46,22),
        bg: (32,32,32),
    )),
    tiles: {
        'r': ( // floor
            icon: "floor_tile_random_1",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([], [], [], []),
        ),
        's': ( // floor
            icon: "floor_tile_squares",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['r'], ['r'], ['r'], ['r']),
        ),
    }
)
