(
    min_width:3,
    max_width:12,
    min_height:3,
    max_height:12,
    perimeter:1,
    perimeter_tile: Some((
        icon: "floor_tile_squares",
        short_desc: "tiled floor",
        fg: (48,48,48), 
        bg: (24,24,24),
    )),
    tiles: {
        ' ': ( // floor
            icon: "floor_tile_squares",
            short_desc: "tiled floor",
            fg: (48,48,48), 
            bg: (24,24,24),
            weight: 1,
            allowed_neighbors: ([' '], [' '], [' '], [' ']),
        ),
        '[': ( // vertical cubicle wall (west)
            icon: "wall_cubicle",
            short_desc: "cubicle wall",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['['], [' '], ['['], [' ']),
        ),
        ']': ( // vertical cubicle wall (east)
            icon: "wall_cubicle",
            short_desc: "cubicle wall",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([']'], [' '], [']'], [' ']),
        ),
        '-': ( // horizontal cubicle wall (north)
            icon: "wall_cubicle",
            short_desc: "cubicle wall",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([' '], ['-'], [' '], ['-']),
        ),
        '_': ( // horizontal cubicle wall (south)
            icon: "wall_cubicle",
            short_desc: "cubicle wall",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([' '], ['_'], [' '], ['_']),
        ),
        'a': ( // northeast corner
            icon: "wall_cubicle",
            short_desc: "northeast corner",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([' '], [' '], ['['], ['-']),
        ),
        'b': ( // northwest corner
            icon: "wall_cubicle",
            short_desc: "northwest corner",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([' '], ['-'], [']'], [' ']),
        ),
        'c': ( // southeast corner
            icon: "wall_cubicle",
            short_desc: "southeast corner",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([']'], [' '], [' '], ['_']),
        ),
        'd': ( // southwest corner
            icon: "wall_cubicle",
            short_desc: "southwest corner",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['['], ['_'], [' '], [' ']),
        ),
        'e': ( // t-shaped intersection (north)
            icon: "wall_cubicle",
            short_desc: "upward-facing T intersection",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['[',']'], ['-','a','b','c','d'], [' '], ['-','a','b','c','d']),
        ),
        'f': ( // t-shaped intersection (east)
            icon: "wall_cubicle",
            short_desc: "leftward-facing T intersection",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['[','a','b','c','d'], [' '], ['[','a','b','c','d'], ['-','_']),
        ),
        'g': ( // t-shaped intersection (south)
            icon: "wall_cubicle",
            short_desc: "downward-facing T intersection",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([' '], ['_','a','b','c','d'], ['[',']'], ['_','a','b','c','d']),
        ),
        'h': ( // t-shaped intersection (west)
            icon: "wall_cubicle",
            short_desc: "rightward-facing T intersection",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([']','a','b','c','d'], ['-','_'], [']','a','b','c','d'], [' ']),
        ),
        '+': ( // cross intersection 
            icon: "wall_cubicle",
            short_desc: "cross intersection",
            fg: (92,92,92), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['[',']','e','f','g','h'], ['-','_','e','f','g','h'], ['[',']','e','f','g','h'], ['-','_','e','f','g','h']),
        ),
        'i': ( // cubicle inside open north
            icon: "floor_tile_squares",
            short_desc: "cubicle interior",
            fg: (56,56,56), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([' '], [']','f'], ['_','g'], ['[','h']),
        ),
        'i': ( // cubicle inside open south
            icon: "floor_tile_squares",
            short_desc: "cubicle interior",
            fg: (56,56,56), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['-','e'], [']','f'], [' '], ['[','h']),
        ),
        'i': ( // cubicle inside open east
            icon: "floor_tile_squares",
            short_desc: "cubicle interior",
            fg: (56,56,56), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['-','e'], [' '], ['_','g'], ['[','h']),
        ),
        'i': ( // cubicle inside open west
            icon: "floor_tile_squares",
            short_desc: "cubicle interior",
            fg: (56,56,56), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['-','e'], [']','f'], ['_','g'], [' ']),
        ),
    }
)
