(
    min_width:10,
    max_width:40,
    min_height:10,
    max_height:40,
    perimeter:1,
    perimeter_tile: Some((
        icon: "floor_concrete_squares",
        fg: (64,64,64), 
        bg: (32,32,32),
    )),
    tiles: {
        '1': ( // floor
            icon: "floor_concrete_pitted",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: ([], [], [], []),
        ),
        '2': ( // floor
            icon: "floor_concrete_rotted",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['1'], ['1'], ['1'], ['1']),
        ),
    }
)
