(
    min_width:3,
    max_width:6,
    min_height:3,
    max_height:6,
    perimeter:1,
    perimeter_tile: Some((
        icon: "wall_slat",
        fg: (64,64,64), 
        bg: (32,32,32),
    )),
    connect_to: [
        (connection_type: Structure("room_hallway"), connection_method: Door),
        (connection_type: Structure("room_home_dining"), connection_method: Open),
        (connection_type: Structure("room_home_common"), connection_method: Open),
    ],
    tiles: {
        '1': ( // floor
            icon: "floor_tile_squares",
            fg: (64,64,64),
            bg: (32,32,32),
            weight: 1,
            position: Floor,
            allowed_neighbors: (['1'], ['1'], ['1'], ['1']),
        ),
        'v': ( // stove
            icon: "fixture_counter_stove",
            short_desc: "stove",
            long_desc: "People used to cook food with this.",
            fg: (72,72,103),
            bg: (64,64,64),
            walkable:false,
            position: NoAuto,
            weight: 1,
            allowed_neighbors: (['1'], [], ['1'], []),
        ),
        'i': ( // sink
            icon: "fixture_counter_sink",
            short_desc: "sink",
            long_desc: "Water used to flow from this spigot, but now it's bone dry.",
            fg: (72,72,103),
            bg: (64,64,64),
            walkable:false,
            position: NoAuto,
            weight: 1,
            allowed_neighbors: (['1'], [], ['1'], []),
        ),
        'D': ( // dishwasher 
            icon: "fixture_counter_dishwasher",
            short_desc: "dishwasher",
            long_desc: "What luxury! Too bad it's busted.",
            fg: (72,72,103),
            bg: (64,64,64),
            walkable:false,
            position: NoAuto,
            weight: 1,
            allowed_neighbors: (['1'], [], ['1'], []),
        ),
        'c': ( // kitchen counter
            icon: "fixture_counter_cabinet",
            short_desc: "kitchen counter",
            long_desc: "Ah the joy of preparing to cook.",
            fg: (72,72,103),
            bg: (64,64,64),
            walkable:false,
            position: NoAuto,
            weight: 4,
            allowed_neighbors: (['1'], ['v','c','i','D'], ['1'], ['v','c','i','D']),
        ),
    }
)
