(
    min_width:7,
    max_width:40,
    min_height:3,
    max_height:3,
    perimeter:1,
    perimeter_tile: (
        icon: "structure_wall_slat",
        fg: (64,64,64), 
        bg: (32,32,32),
    ),
    connect_to: [
        (connection_type: Structure("room_hallway"), connection_method: Door),
        (connection_type: Outside, connection_method: Door),
    ],
    tiles: {
        '1': ( // floor tiles
            icon: "structure_floor_carpet",
            short_desc: "tiled floor",
            long_desc: "Linoleum tiles.",
            fg: (16,16,16),
            bg: (24,14,8),
            weight: 1,
            position: Floor,
            allowed_neighbors: (['1'], ['1'], ['1'], ['1']),
        ),
    }
)
