(
    min_width:3,
    max_width:3,
    min_height:7,
    max_height:40,
    perimeter:1,
    connect_to: [
        (connection_type: Outside, connection_method: Door),
    ],
    tiles: {
        '1': ( // floor tiles
            icon: "floor_carpet",
            short_desc: "hallway carpet",
            long_desc: "It's covered in dust and animal droppings.",
            fg: (16,16,16),
            bg: (24,14,8),
            weight: 1,
            position: Floor,
            allowed_neighbors: (['1'], ['1'], ['1'], ['1']),
        ),
    }
)
