(
    min_width:12,
    max_width:18,
    min_height:12,
    max_height:18,
    perimeter:1,
    perimeter_tile: (
        icon: "structure_wall_slat",
        fg: (64,64,64), 
        bg: (32,32,32),
    ),
    connect_to: [(connection_type: Road, connection_method: Driveway)],
    interior_structures: [
        "room_home_kitchen",
        "room_home_common",
        "room_home_bedroom",
        "room_home_bedroom",
        "room_home_bedroom",
        "room_home_hall_horizontal",
        "room_home_hall_vertical",
    ],
    tiles: {
        '1': ( // floor tiles
            icon: "structure_floor_carpet",
            short_desc: "tiled floor",
            long_desc: "Linoleum tiles.",
            fg: (16,16,16),
            bg: (24,14,8),
            weight: 1,
            position: Floor,
            allowed_neighbors: (['1'], ['1'], ['1'], ['1']),
        ),
        'h': (
            icon: "fixture_chair",
            short_desc: "chair",
            long_desc: "A chair. It's a little musty.",
            fg: (72,72,103),
            bg: (24,14,8), 
            position: Fixture,
            weight: 2,
            allowed_neighbors: ([], ['B'], [], ['b']),
        ),
        'b': ( // bookshelf left
            icon: "fixture_bookshelf",
            short_desc: "bookshelf",
            long_desc: "These old paper books are completely rotted out.",
            fg: (32,22,8),
            bg: (0,0,0), 
            transparent:false,
            walkable:false,
            position: Fixture,
            weight: 2,
            allowed_neighbors: ([], [], [], ['B']),
        ),
        'B': ( // bookshelf right
            icon: "fixture_bookshelf",
            short_desc: "bookshelf",
            long_desc: "These old paper books are completely rotted out.",
            fg: (32,22,8),
            bg: (0,0,0), 
            transparent:false,
            walkable:false,
            position: Fixture,
            weight: 2,
            allowed_neighbors: ([], ['b'], [], []),
        ),
        's': ( // shelf east
            icon: "fixture_shelf_east",
            short_desc: "bookshelf",
            long_desc: "These old paper books are completely rotted out.",
            fg: (32,22,8),
            bg: (0,0,0), 
            transparent:false,
            walkable:false,
            position: Fixture,
            weight: 2,
            allowed_neighbors: ([], [], [], ['b']),
        ),
        'l': ( // lamp east
            icon: "fixture_lamp_east",
            short_desc: "lamp",
            long_desc: "This lamp sits upon an old end table.",
            fg: (72,72,103),
            bg: (24,14,8), 
            transparent:true,
            walkable:true,
            position: Fixture,
            weight: 2,
            allowed_neighbors: ([], ['h'], [], []),
        ),
        'L': ( // lamp west 
            icon: "fixture_lamp_west",
            short_desc: "lamp",
            long_desc: "This lamp sits upon an old end table.",
            fg: (72,72,103),
            bg: (24,14,8), 
            transparent:true,
            walkable:true,
            position: Fixture,
            weight: 2,
            allowed_neighbors: ([], [], [], ['h']),
        ),
    }
)
