(
    min_width:12,
    max_width:17,
    min_height:12,
    max_height:17,
    perimeter:1,
    connect_to: Some([(connection_type: Road, connection_method: Driveway)]),
    tiles: {
        'r': ( // floor
            icon: "structure_floor_random",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['s','b'], ['s','b'], ['s','b'], ['s','b']),
        ),
        's': ( // floor
            icon: "structure_floor_small_squares",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['r','b'], ['r','b'], ['r','b'], ['r','b']),
        ),
        'b': ( // wall
            icon: "structure_floor_small_tiles",
            fg: (64,64,64), 
            bg: (32,32,32),
            weight: 1,
            allowed_neighbors: (['r','s'], ['r','s'], ['r','s'], ['r','s']),
        ),
    }
)
