(
    tags: Some([Forest]),
    population_range: (0.0, 0.3),
    icon: Some((name: "map_terrain_tree")),
    scatter: Some([
            (frequency: 0.023, colors: ( fg: (r: 65, g: 65, b: 55), bg: (r: 0, g: 0, b: 0),), icon:(name: "flora_mushroom_1")),
            (frequency: 0.023, colors: ( fg: (r: 65, g: 55, b: 65), bg: (r: 0, g: 0, b: 0),), icon:(name: "flora_mushroom_2")),
            (frequency: 0.1, colors: ( fg: (r: 15, g: 55, b: 15), bg: (r: 18, g: 12, b: 0),), icon:(name: "flora_tree_deciduous")),
            (frequency: 0.1, colors: ( fg: (r: 15, g: 55, b: 25), bg: (r: 18, g: 16, b: 0),), icon:(name: "flora_tree_evergreen")),
    ]),
    parent: Some("meadow")
)
