(
    tags: Some([Forest]),
    population_range: (0.0, 0.5),
    icon: Some((name: "map_terrain_deciduous")),
    scatter: Some([
            (frequency: 0.023, colors: ( fg: (r: 65, g: 65, b: 55), bg: (r: 0, g: 0, b: 0),), icon:(name: "ground_mushroom_large"), short: "mushroom", long: "Is it poisonous? One way to find out."),
            (frequency: 0.023, colors: ( fg: (r: 65, g: 55, b: 65), bg: (r: 0, g: 0, b: 0),), icon:(name: "ground_mushroom_cluster"), short: "mushrooms", long: "Tasty...?"),
            (frequency: 0.1, colors: ( fg: (r: 15, g: 55, b: 25), bg: (r: 18, g: 16, b: 0),), icon:(name: "ground_sapling"), short: "sapling", long: "A young tree, dead."),
    ]),
    parent: Some("meadow")
)
