(
    tags: Some([Urban]),
    structures: Some(["brick_building"]),
    population_range: (0.5, 0.8),
    description: Some((
            short: "Old Town",
            long: "An older part of the city, with historic buildings."
    )),
    icon: Some((name: "map_terrain_old_town")),
    colors: Some((
            fg: (r: 16, g: 180, b: 30),
            bg: (r: 48, g: 48, b: 12),
    )),
    parent: Some("urban")
)
