(
    tags: Some([Urban]),
    structures: Some(["office_complex"]),
    population_range: (0.7, 1.0),
    description: Some((
            short: "urban",
            long: "The concrete jungle."
    )),
    icon: Some((name: "map_terrain_city")),
    colors: Some((
            fg: (r: 16, g: 180, b: 30),
            bg: (r: 48, g: 48, b: 12),
    )),
    ground_cover: Some([
            (
                frequency: 0.0,
                colors: (
                        fg: (r: 48, g: 48, b: 48),
                        bg: (r: 32, g: 32, b: 32),
                ),
                icon: (name:"floor_concrete_squares"),
                short: "concrete",
                long: "Tiled concrete slabs.",
            ),
    ]),
    scatter: Some([
            (frequency: 0.021, colors: ( fg: (r: 48, g: 48, b: 48), bg: (r: 32, g: 32, b: 32),), icon:(name: "floor_concrete_pitted"), short: "concrete", long: "A pitted concrete slab."),
            (frequency: 0.023, colors: ( fg: (r: 48, g: 48, b: 48), bg: (r: 32, g: 32, b: 32),), icon:(name: "floor_concrete_rotted"), short: "concrete", long: "An eroded concrete slab."),
    ])
)
